@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="formulary">
 <h1 class="h-reunion-title">Créer votre propre reunion !</h1>
 <form action="#" method="post">
     <input class="btn-input-reunion" type="text" name="NomReunion" placeholder="Nom de la reunion" />
     <input class="btn-input-reunion" type="text" name="NbreMembre" placeholder="Nombre de membre" />
     <input class="btn-input-reunion" type="text" name="Typetontine" placeholder="Le type de votre tontine" />
     <input class="btn-input-reunion" type="text" name="MontantMin" placeholder="Montant minimum" />
     <textarea name="Description" rows="6" cols="33">Description</textarea>
     <input type="submit" value="Login" class="btn-reunion-confirm" />
 </form>
</div>
